@media(max-width: 1400px){
    body{
        width: 100%;
    }
}

@media(max-width: 1300px){
    .nav{
        padding-right: 5rem;
    }
    .nav-section{
        width: 100%;
    }
    .nav-list{
        /* display: none; */
    }
    .years-box{
        top: 55%;
    }
    .about-img2{
        bottom: 55%;
    }
}
